.errorMessage {
    position: absolute;
}

.submitButton {
    background: linear-gradient(
    to top,
    #47bebe 5%,
    rgb(59, 151, 151) 80%  
    );
    /* background: linear-gradient(180deg, #3a9595, #47bebe); */
}