
.background {
    position: relative;
    width: 100vw;
    height: 100vh;
    /* background-color: #e6e9f2; */
    background: radial-gradient(circle at top left, #f0f2f5, #e3e6f0 50%, #7e9ab35e);
    overflow: hidden;
  }
    
/* Blurred circles */
.background::before,
.background::after,
.background .circle1,
.background .circle2,
.background .circle3,
.background .circle4,
.background .circle5,
.background .circle6,
.background .circle7,
.background .circle8 {
  content: '';
  position: absolute;
  border-radius: 50%;
  filter: blur(80px);
}

/* Main circles with higher saturation */
.background::before {
  width: 180px;
  height: 180px;
  top: 20%;
  left: 15%;
  background-color: rgba(253, 206, 206, 0.5); 
}

.background::after {
  width: 120px;
  height: 120px;
  bottom: 25%;
  right: 15%;
  background-color: rgba(173, 216, 230, 0.5);
}

/* Additional circles */
.background .circle1::before {
  width: 150px;
  height: 150px;
  top: 30%;
  left: 50%;
  background-color: rgba(177, 215, 227, 0.5);
}

.background .circle1::after {
  width: 250px;
  height: 250px;
  top: 5%;
  left: 50%;
  background-color: rgba(242, 231, 192, 0.449);
}

.background .circle2 {
  width: 80px;
  height: 150px;
  top: 60%;
  left: 25%;
  background-color: rgba(154, 203, 247, 0.5);
}

.background .circle3 {
  width: 120px;
  height: 120px;
  bottom: 10%;
  right: 10%;
  background-color: rgba(219, 152, 219, 0.5);
}

.background .circle4 {
  width: 120px;
  height: 120px;
  top: 10%;
  right: 10%;
  background-color: rgba(219, 152, 219, 0.5);
}

.background .circle5 {
  width: 120px;
  height: 70px;
  top: 10%;
  left: 10%;
  background-color: rgba(177, 215, 227, 0.5);
}

.background .circle6 {
  width: 120px;
  height: 120px;
  bottom: 10%;
  right: 40%;
  background-color: rgba(219, 152, 219, 0.5);
}

.background .circle7 {
  width: 120px;
  height: 80px;
  top: 50%;
  right: 30%;
  background-color: rgba(177, 215, 227, 0.5);
}


.background .circle8 {
  width: 120px;
  height: 120px;
  top: 40%;
  left: 30%;
  background-color: rgba(192, 240, 254, 0.5);
}

